*.pyc
.idea
datasets
output/rubble_colmap
output/rubble/partition_point_cloud/extend
output/rubble/partition_point_cloud/ori
output/rubble/partition_data.pkl
SIBR
SIBR_viewers
build
paper_result
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots